<div class="d-flex flex-column flex-shrink-0 p-3 side-menu-container">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/home.png" alt="home" class="me-2" />
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex text-m">
        <img src="assets/images/list.png" alt="list" class="me-2" />
        Orders
        <span class="rounded-pill px-2 my-auto">16</span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/tag.png" alt="tag" class="me-2" />
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/folder.png" alt="folder" class="me-2" />
        Categories
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/users.png" alt="users" class="me-2" />
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/statistics.png" alt="statistics" class="me-2" />
        Reports
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/star.png" alt="star" class="me-2" />
        Coupons
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/chat.png" alt="chat" class="me-2" />
        Inbox
      </a>
    </li>
    <li class="mt-4">
      <span class="nav-link text-s"> Other Information </span>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/question.png" alt="question" class="me-2" />
        Knowledge Base
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/ribbon.png" alt="ribbon" class="me-2" />
        Product Updates
      </a>
    </li>
    <li class="mt-4">
      <span class="nav-link text-s"> Settings </span>
    </li>
    <li>
      <a href="#" class="nav-link text-m active">
        <img src="assets/images/user.png" alt="user" class="me-2" />
        Personal Settings
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-m">
        <img src="assets/images/settings.png" alt="settings" class="me-2" />
        Global Settings
      </a>
    </li>
  </ul>
</div>
